.h1{color:black;margin-left:40%;font-size:4em;font-family: sans-serif;}
.div-1{text-align: left;width: 30%;}
.div-2{height:auto;width: 30%;margin:auto;margin-top:-29%;}
.div-3{margin-left:69%;margin-top: -29%;}


    .img-1{height:43%;}
    .img-2{height:43%;}
